* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  margin: 25px;
}

h2,
h3 {
  text-align: center;
}

.pageContent {
  display: grid;
  align-items: center;
  justify-content: center;
}
.canvasContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.canvasContainer > .tooltip {
  width: 100px;
  height: 125px;
  display: flex;
  align-items: center;
  text-align: center;
}
.tooltip.locked {
  background: hsl(0, 0%, 96%);
}
.canvasContainer > .canvas {
  width: 950px;
  height: 600px;
  user-select: none;
}
.canvasContainer > .canvas > .state {
  fill: none;
  stroke: white;
}
.canvasContainer > .canvas > .county {
  fill: hsl(0, 0%, 100%);
  stroke-width: 0;
}
.canvasContainer > .canvas > .county:hover {
  stroke-width: 1px;
  stroke: black;
}

.notes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.legend-rect:hover {
  stroke: black;
}

.legend-rect,
.color-toggle {
  cursor: pointer;
  user-select: none;
}

.highlight {
  fill: gold !important;
}
.fade {
  opacity: 0.1;
}

footer {
  margin-top: 25px;
  background: hsl(0, 0%, 85%);
  padding: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}
